= f.association :product, input_html: { class: "select2" }, include_blank: false
= f.input :quantity, input_html: { min: 0 }
= f.input :reduced_price_pennies, hint: "", input_html: { min: 0, class: "pennies-input" }